<div class="container">
	<div class="banner">
		<p>appareil non pris en charge, utilisez un appareil plus grand pour une meilleure expérience</p>
	</div>
  <div class="logo">
    <img (click)="onLogoClick()" src="assets/image/logo.png" alt="Logo wandering soul">
  </div>
  
  <div class="accueil_btn">
    <a class="accueil" (click)="onLogoClick()">Accueil</a>
    
    <button *ngIf="!isLoggedIn()" class="connexion_btn" (click)="login()">Se connecter</button>
    <button *ngIf="isLoggedIn()" class="connexion_btn" (click)="logout()">Se déconnecter</button>
    
   
    <button *ngIf="isOnCountryCityPage() && isLoggedIn()" class="form_btn connexion_btn" (click)="openForm('city')">City Form</button>

   
    <button *ngIf="isOnDayPage() && isLoggedIn()" class="form_btn connexion_btn" (click)="openForm('day')">Day Form</button>

    <button *ngIf="isOnPhotoPage() && isLoggedIn()" class="form_btn connexion_btn" (click)="openForm('photo')">Photo Form</button>
    
    <button *ngIf="isOnCountryList() && isLoggedIn()" class="form_btn connexion_btn" (click)="openForm('country')">Country Form</button>
    
    <div class="modal-overlay" *ngIf="currentForm !== ''">
      <div class="modal-content">
        <app-city-form *ngIf="currentForm === 'city'"></app-city-form>
        <app-country-form *ngIf="currentForm === 'country'"></app-country-form>
        <app-day-form *ngIf="currentForm === 'day'"></app-day-form>
        <app-photo-form *ngIf="currentForm === 'photo'"></app-photo-form>
        <button class="close-button" (click)="closeForm()">Fermer</button>
      </div>
    </div>
  </div>
</div>
