<form action="" class="day-form">
	<div class="form-group">
	  <label for="dayName">Nom du pays</label>
	  <input [(ngModel)]="value"
      #example="ngModel"
      [class.is-invalid]="example.touched && example.invalid"type="text" placeholder="Nom du pays" name="dayName" id="dayName" required>
	</div>
  
	<div class="form-group">
	  <label for="dayFlag">Drapeau du pays</label>
	  <input type="text" placeholder="URL du drapeau" name="dayFlag" id="dayFlag" required>
	</div>
  
	<button type="submit" class="submit-button">Ajouter</button>
  </form>
  