@import "https://unpkg.com/leaflet-sidebar-v2/css/leaflet-sidebar.min.css";

#map {
  height: 600px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}




.leaflet-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width:300px;
  z-index: 800;
  pointer-events: auto;
}
