<div id="map" style="width: 100%; height: 100vh;"></div>
<div id="sidebar" class="leaflet-sidebar collapsed">
  <!-- Onglets de la sidebar -->
  <div class="leaflet-sidebar-tabs">
    <ul role="tablist">
      <li><a href="#home" role="tab"><i class="fa fa-home"></i></a></li>
    </ul>
  </div>
  
  <!-- Contenu de la sidebar -->
  <div class="leaflet-sidebar-content">
    <div class="leaflet-sidebar-pane" id="home">
      <h1 class="leaflet-sidebar-header">Details
        <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
      </h1>
      <div id="sidebar-content"></div>
    </div>
  </div>
</div>
