<app-image-background>
<!-- <div class="back-button" (click)="goBack()"> ← Retour page accueil</div> -->
<!-- Bouton pour afficher la fenêtre modale -->
  <section class="title">
    <h1>Découvrez Les villes</h1>
    <p class="font-200">Que nous avons visitées...</p>
  </section>
  <section class="button">
    <div class="clickable-image"  *ngFor="let countryData of jsonData; let i = index" (click)="onCountryClick(countryData.name)">
      <mat-card class="example-card" appearance="outlined">
        <p class="city-title">{{countryData.name}}</p>
        <div class="test">
        <img
          mat-card-image
          class="card-image"
          [src]="countryData.flag" alt="{{ countryData.name }}"  
        />
        <mat-card-actions>
          <button mat-button class="card-button" (click)="onCountryClick(countryData.name)">
            Visiter
          </button>
        </mat-card-actions>
      </div>
        <section class="card">
          <mat-card-content class="card-content">
            <!-- <h4 class="bold-text">Nos aventures à : {{countryData.country}}</h4> -->
             <img class="mini-img" [src]="countryData.flag" alt="{{ countryData.name }}"  >
            <p class="font-400 card-text">
              clique ici pour voir tous les villes que j'ai parcourues
            </p>
          </mat-card-content>

        </section>
      </mat-card>
    </div>

  </section>
  <!-- <div class="container">
    <div *ngFor="let countryData of jsonData; let i = index" (click)="onCountryClick(countryData.country)" style="position: relative;">
      <div class="countryName">{{ countryData.country }}</div>
      <img class="country_flag" [src]="countryData.drapeau" alt="{{ countryData.country }}">
    </div>
  </div> -->
</app-image-background>