<app-image-background>
  <section class="title">
    <h1>Découvrez Les pays</h1>
    <p class="font-200">Que nous avons visités...</p>
  </section>
  <section class="container">
    <h1 *ngIf="countryData" class="country-title">
      Cities in {{ countryData.name }}:
    </h1>

    <ul *ngIf="countryData" class="city-list">
      <li *ngFor="let city of cities" class="city-item">
        <a (click)="onCountryCityClick(countryData.name, city.name)" class="city-link">
          <div class="city-info">
            <span class="city-name">{{ city.name }}</span> <!-- Affichage du nom de la ville -->
          </div>
        </a>
      </li>
    </ul>

    <p *ngIf="!countryData" class="no-data">
      No data found for the country.
    </p>
  </section>
</app-image-background>
