<div class="back-button" (click)="goBack()">
  <p>← Retour à la liste des pays</p>
</div>
<button (click)="toggleForm()">
	{{ isFormVisible ? 'Masquer le formulaire' : 'Ajouter une ville' }}
  </button>
  <div class="modal-overlay" *ngIf="isFormVisible">
	<div class="modal-content">
	  <app-country-form></app-country-form>
	  <button class="close-button" (click)="toggleForm()">Fermer</button>
	</div>
  </div>
<h1 *ngIf="countryData" class="country-title">
  Cities in {{ countryData.country }}:
</h1>

<ul *ngIf="countryData" class="city-list">
  <li *ngFor="let city of getCityNames(countryData.villes)" class="city-item">
    <a (click)="onCountryCityClick(countryData.country, city)" class="city-link">{{ city }}</a>
  </li>
</ul>

<p *ngIf="!countryData" class="no-data">
  No data found for the country.
</p>
