
  <mat-toolbar>
    <button mat-button (click)="goBack()">← retour liste des villes</button>
  </mat-toolbar>
  
  <ng-container *ngIf="cityData">
    <h1 class="title">{{ city }}</h1>
    <div class="timeline">
      <div *ngFor="let jour of cityData.jours; let i = index" class="timeline-item">
        <mat-card (click)="onDayClick(country, city, jour.jour)" class="day-card">
          <h2>Jour {{ jour.jour }}</h2>
          <p>{{ jour.description }}</p>
        </mat-card>
      </div>
    </div>
  </ng-container>
  
