<app-image-background>
  <section class="title">
    <h1>Découvrez nos journées</h1>
    <p class="font-100">ainsi qu'une légère description...</p>
  </section>

  <!-- Vérifie si les données de la ville sont disponibles -->
  <div *ngIf="days && days.length > 0">
    <h1 class="city-title">{{ city }}</h1>
    <div class="container">
      <!-- Itère sur les jours de la ville -->
      <div 
        *ngFor="let jour of days; let i = index" 
        class="card" 
        [ngClass]="{'card-odd': i % 2 !== 0, 'card-even': i % 2 === 0}" 
        (click)="onCityDayClick(jour.id_day)"
      >
        <div class="card_image image">
          <img class="jourimg"
			[src]="jour.url" alt="photo de la journée"  
            alt=""
          >
        </div>
        <div class="card_description">
          <p class="day_number">{{ jour.day_number }}</p>
          <p class="description">{{ jour.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Si aucune journée n'est disponible pour cette ville -->
  <div *ngIf="days.length === 0">
    <p>Aucune journée disponible pour cette ville pour le moment.</p>
  </div>
</app-image-background>
