<app-image-background> 
  <!-- <mat-toolbar>
    <button mat-button (click)="goBack()">← retour liste des villes</button>
  </mat-toolbar> -->
  <section class="title">
    <h1>Découvrez nos journées</h1>
    <p class="font-100">ainsi qu'une légère description...</p>
  </section>
  <ng-container  *ngIf="cityData">
    <h1 class="city-title">{{ city }}</h1>
    <div class="timeline">
      <div *ngFor="let jour of cityData.jours; let i = index" class="timeline-item">
        <mat-card (click)="onDayClick(country, city, jour.jour)" class="day-card">
          <h2>Jour {{ jour.jour }}</h2>
          <p>{{ jour.description }}</p>
        </mat-card>
      </div>
    </div>
  </ng-container>
  
</app-image-background> 