<app-image-background>
  <section class="title">
    <h1>Découvrez les photos</h1>
    <p class="font-200">de notre journée...</p>
  </section>

  <section class="content">
    <h1 class="cityDay">{{ city }} - {{ day }}</h1>
    <div *ngIf="photos.length > 0">
      <div class="container">
        <div *ngFor="let photo of photos; let i = index" (click)="onPhotoClick(photo)">
          
          <div *ngIf="isUserLoggedIn || !photo.isPrivate">
            <p class="font-300">{{ photo.title }}</p>

            <ngx-skeleton-loader 
              *ngIf="!photo.loaded" 
              count="1" 
              appearance="circle" 
              animation="progress-dark">
            </ngx-skeleton-loader>

            <img 
              [src]="photo.url" 
              alt="{{ photo.description }}" 
              (load)="photo.loaded = true" 
              [hidden]="!photo.loaded">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="photos.length === 0">
      <p>Aucune photo trouvée pour {{ day }} à {{ city }}.</p>
    </div>

    <div *ngIf="isModalOpen" class="modal-overlay">
      <div class="modal-content">
        <div class="modal-image">
          <img [src]="selectedPhoto?.url" alt="Photo sélectionnée" />
        </div>
        <div class="modal-description">
          <p>{{ selectedPhoto?.description }}</p>
        </div>
        <span (click)="closeModal()" class="close-button">&times;</span>
      </div>
    </div>
  </section>
</app-image-background>
