h1, h4, p {
	margin: 0;
	padding: 0;
  }
img{
    width:200px;
    cursor: pointer;
}
.content{
	position: relative;
	z-index: 5;
}
.title {
	position: relative;  /* Permet d'utiliser le pseudo-élément */
	/* text-align: center; */
	display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: column;
	z-index: 2; /* Assure que le texte est visible au-dessus de l'image */
	font-size:36px;
	width:100%;
	height:250px;
  }
.title h1, .title p {
	position: relative;  /* Assurer que le texte est correctement superposé sur l'image */
	z-index: 3;  /* Mettre le texte au-dessus de l'image */
  }
  /* Style de l'image de fond */
  .title::before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-image: url('../../../../assets/image/shadow_title.png'); /* Ton image de nuage */
	  background-position: center;
	  background-size: 34%;  /* Utilise 'contain' pour garder l'image à sa taille naturelle sans la déformer */
	  background-repeat: no-repeat;  /* Empêche l'image de se répéter */
	  z-index: 1;  /* Placer l'image derrière le texte */
	}
	.container{
		display: flex;
		flex-direction: row;
		margin-top: 20px;
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom:50px;
		gap:20px;
	}
	.container p{
	  width:200px;
	}
	.back-button {
		display: inline-block; 
    margin: 20px 0;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    width: auto; 
}

 /* Style pour le modal */
/* Style pour le modal */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Assurez-vous que le modal est au-dessus des autres contenus */
	overflow: hidden;  /* Empêche le scroll global */
  }
  
  .modal-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	width: 90%;  /* La largeur du modal sera de 90% de l'écran */
	max-width: 800px; /* Limite de la largeur du modal */
	height: 80vh; /* Limite la hauteur de la modale à 80% de la hauteur de la fenêtre */
	overflow: hidden; /* Empêche le débordement de la modale */
	position: relative;
	display: flex;
	flex-direction: column;
  }
  
  .modal-image {
	width: 100%;
	height: 60%; /* L'image occupe 60% de la hauteur de la modale */
	border-radius: 8px;
	  image-rendering: smooth;
	position: relative;
  }
  .modal-image img{
	  width:100%;
	  height:100%;
	  object-fit: cover;
  }
  .modal-description {
	width: 100%;
	height: 40%; /* La description occupe 40% de la hauteur de la modale */
	overflow-y: auto; /* Permet le défilement si le texte est trop long */
	margin-top: 15px;
	text-align: center;
	font-size: 1.2rem;
	word-wrap: break-word; /* Assure que le texte se divise si trop long */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
  }
  
  .close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 2rem;
	cursor: pointer;
	color: #000;
	z-index: 1001; /* Assurez-vous que la croix est au-dessus du contenu */
  }
  
  .close-button:hover {
	color: red;
  }
  