<div (click)="goBack()"><p>← retour liste des jours</p></div>
<h1>{{ city }} {{ day }} , {{ country }}</h1>
<div *ngIf="dayData">
  <h2>{{ dayData.date }}</h2>
  <p>{{ dayData.description }}</p>
  <div class="container">
    <div *ngFor="let photo of dayData.photos; let i = index" (click)="onPhotoClick(i)">
      <p>{{ photo.description }}</p>
      
      <!-- Ngx Skeleton Loader -->
      <ngx-skeleton-loader 
        *ngIf="!photo.loaded" 
        count="1" 
        appearance="circle" 
        animation="progress-dark">
      </ngx-skeleton-loader>
      
      <!-- Image -->
      <img 
        [src]="photo.url" 
        alt="{{ photo.description }}" 
        (load)="photo.loaded = true" 
        [hidden]="!photo.loaded">
    </div>
  </div>
</div>
<div *ngIf="!dayData">
  <p>No data found for Day {{ day }} in {{ city }}, {{ country }}.</p>
</div>
