<form [formGroup]="cityForm" (ngSubmit)="submit()" class="city-form">
	<div class="form-group">
	  <label for="cityName">Nom de la ville</label>
	  <input
		formControlName="name"
		[class.is-invalid]="cityForm.get('name')?.touched && cityForm.get('name')?.invalid"
		type="text"
		placeholder="Nom de la ville"
		name="name" 
		id="cityName"
		required
	  />
	  <div *ngIf="cityForm.get('name')?.touched && cityForm.get('name')?.invalid" class="invalid">
		<small *ngIf="cityForm.get('name')?.hasError('required')">Le nom de la ville est requis.</small>

	  </div>
	</div>
	
	<button type="submit" class="submit-button" [disabled]="cityForm.invalid">Ajouter</button>
  </form>
  <div *ngIf="submitted" class="confirmation-message">
	<p>La journée a été ajoutée avec succès !</p>
  </div>
  