.image-background {
	position: relative;
	display:block;
	/* background-image: url('../../../../assets/image/Background.jpg'); */
	height:100vh;
	width: 100%; /* Prend toute la largeur de l'écran */
	
  }
  .background-img{
	height:90%;
	width:100%;
	position: absolute;
	z-index:0;
  }
  