.image-background {
	position: relative;
	display:block;
	/* background-image: url('../../../../assets/image/Background.jpg'); */
	height:100vh;
	/* overflow:hidden; */
	/* height:100%; */
	width: 100%; /* Prend toute la largeur de l'écran */
	
  }
  .background-img{
	height:100%;
	width:100%;
	position: absolute;
	z-index:0;
  }
  .unsupported-message {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 100vh; /* Occupe tout l'écran */
	  background-color: black;
	  color: white;
	  font-size: 24px;
	  font-weight: bold;
	  text-align: center;
	}
	

	  
	  
  @media (max-width: 1600px) {
	.background-img {
	  object-fit: cover; /* Appliquer 'cover' de 1600px à 0px */
	  width: 100%;
	}
}
