.breadcrumb {
    font-size: 14px;
    margin-bottom: 16px;
    color:white;
  }
  
  .breadcrumb-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .breadcrumb-link:hover {
    text-decoration: none;
  }

  span {
    color: gray;
  }
  .section{
	margin-top:20px;
	margin-left:50px;
    z-index: 1000;
    position: relative;
  }

  